# Ambientes virtuais e dependências
venv/
env/
__pycache__/
*.pyc

# Arquivos de ambiente / chaves de API (MUITO IMPORTANTE NÃO SUBIR PARA O GITHUB)
.env

# Banco de dados local (Opcional ignorar o banco se não quiser versionar os dados, 
# mas como é para a faculdade, deixaremos ele FORA do gitignore para o professor poder testar, 
# ou você pode ignorar e pedir para o professor rodar o init_db.py). 
# Descomente a linha abaixo se quiser ignorar o banco:
# *.db

# Logs do pytest
.pytest_cache/
